<div class="container__big-card">
    <div class="big-card_photo">
        <img src="https://wallpapers.com/images/hd/marvel-movie-pzf3opf5gw59litn.jpg" 
             alt=""
             height="250px">
    </div>

    <div class="big-card_title">
        <h1>Chegou nova versão do angular!</h1>
        <span>bla bla bla bla</span>
    </div>

    <div class="big-card_description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos fuga esse aliquid quidem a, ipsam incidunt quia dolor laborum ipsa, facere dolorum blanditiis deleniti! Nisi odit dolor commodi quaerat modi.</p>
    </div>
</div>