<div class="container__small-card">
    <div class="small-card_photo">
        <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" 
             alt=""
             height="100px"
             width="200px">
    </div>
    
    <div class="small-card_label">
        <div class="small-card_title">
            <h1>Check this out!</h1>
        </div>
        <div class="small-card_description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, amet labore nam ill</p>
        </div>
    </div>   
</div>
<hr>
