<app-menu-title></app-menu-title>


<div class="content">
    <div class="articles">
        <div class="articles__main">
            <app-big-card></app-big-card>
        </div>
        <div class="articles__others">
            <app-small-card class="small__card"></app-small-card>
            <app-small-card class="small_card"></app-small-card>
            <app-small-card class="small_card"></app-small-card>
            <app-small-card class="small_card"></app-small-card>
        </div>
    </div>
</div>